@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap");

:root{

  /* Colores */
  --color-fondo: #EDE8DF;
  --color-titulos: #3F3A36;
  --color-subtitulos: #6A625B;

  /* Fuentes */
  --fuente-titulos: 'Playfair Display', serif;
  --fuente-texto: 'Inter', sans-serif;

  /* Paneles */
  --color-panel: #F8F4EC;

  /* Color principal */
   --color-principal: #6B1010;

}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-fondo);
  color: var(--color-titulos);
  font-family: var(--fuente-texto);
}
