@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Inter:wght@400;500;600&display=swap");
:root{

  /* Colores */
  --color-fondo: #F3F1EA;
  --color-titulos: #3F3A36;
  --color-subtitulos: #6E6862;

  /* Fuentes */
  --fuente-titulos: 'Cormorant Garamond', serif;
  --fuente-texto: 'Inter', sans-serif;

  /* Paneles */
  --color-panel: #FAF8F2;

  /* Color principal */
  --color-principal: #7A1719;

}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-fondo);
  color: var(--color-titulos);
  font-family: var(--fuente-texto);
}
